


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div> 
        <h1>Hi This a View</h1>
    </div>
</body>
</html>
